<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-android" role="menuitem"><a href="{{site.baseurl}}tag/android/">Android</a></li>
    <li class="nav-frp" role="menuitem"><a href="{{site.baseurl}}tag/frp/">FRP</a></li>
    <li class="nav-kotlin" role="menuitem"><a href="{{site.baseurl}}tag/kotlin/">Kotlin</a></li>
    <li class="nav-java" role="menuitem"><a href="{{site.baseurl}}tag/java/">Java</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>